@charset "UTF-8";
@font-face {
				font-family: "Conv_Butler_Light";
				src: url("../../fonts/Butler_Light.eot");
				src: local("☺"), url("../../fonts/Butler_Light.woff") format("woff"), url("../../fonts/Butler_Light.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: "Conv_Butler_Medium";
				src: url("../../fonts/Butler_Medium.eot");
				src: local("☺"), url("../../fonts/Butler_Medium.woff") format("woff"), url("../../fonts/Butler_Medium.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: "Conv_Butler_Regular";
				src: url("../../fonts/Butler_Regular.eot");
				src: local("☺"), url("../../fonts/Butler_Regular.woff") format("woff"), url("../../fonts/Butler_Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: "Conv_Lato-Regular";
				src: url("fonts/Lato-Regular.eot");
				src: local("☺"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: "HelveticaNeueCyr";
				src: url("../../HelveticaNeueCyr-Light.eot");
				src: local("HelveticaNeueCyr-Light"), url("../../HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../../HelveticaNeueCyr-Light.woff2") format("woff2"), url("../../HelveticaNeueCyr-Light.woff") format("woff"), url("../../HelveticaNeueCyr-Light.ttf") format("truetype");
				font-weight: 300;
				font-style: normal;
}
@font-face {
				font-family: "HelveticaNeueCyr";
				src: url("../../HelveticaNeueCyr-Roman.eot");
				src: local("HelveticaNeueCyr-Roman"), url("../../HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../../HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../../HelveticaNeueCyr-Roman.woff") format("woff"), url("../../HelveticaNeueCyr-Roman.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
}
/* Обнуление */
* {
				padding: 0px;
				margin: 0px;
				border: 0px;
}

*, *::before, *::after {
				box-sizing: border-box;
}

:focus, :active {
				outline: none;
}

a:focus, a:active {
				outline: none;
}

a, a:visited, a:hover {
				text-decoration: none;
}

nav, footer, header, aside {
				display: block;
}

html,
body {
				height: 100%;
				width: 100%;
				font-size: 14px;
				line-height: 1;
				font-size: 100%;
				-ms-text-size-adjust: 100%;
				-moz-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
}

input, button, textarea {
				font-family: inherit;
}

input::-moz-focus-inner {
				display: none;
}

button {
				cursor: pointer;
}

button::-moz-focus-inner {
				padding: 0;
				border: 0;
}

h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
				font-weight: inherit;
}

ul li {
				list-style: none;
}

img {
				vertical-align: top;
}

/*************/
.wrapper {
				width: 100%;
				max-width: 1620px;
				min-width: 320px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: column;
				background-color: black;
}

.container {
				width: 1182px;
				margin: 0 auto;
				padding: 0 10px;
}

.header {
				position: relative;
				display: flex;
				flex-direction: column;
}
.header::before {
				content: "";
				position: absolute;
				top: 60px;
				width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__topbar {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 60px;
}
.header__topbar-contacts {
				display: flex;
				flex-direction: row;
				width: 313px;
				justify-content: space-between;
}
.header__topbar-social {
				display: flex;
				flex-direction: row;
				width: 170px;
				justify-content: space-between;
}
.header__topbar-social .social-icon {
				display: block;
				height: 14px;
				width: 14px;
				transition: box-shadow 0.3s;
				border-radius: 4px;
}
.header__topbar-social .social-icon:hover {
				box-shadow: 2px 2px 1px 0 #e8be7b;
}
.header__topbar-social .twitter {
				background-image: url("../../images/sprite-social.png");
}
.header__topbar-social .fb {
				background-image: url("../../images/sprite-social.png");
				background-position: -38px 0;
}
.header__topbar-social .youtube {
				background-image: url("../../images/sprite-social.png");
				background-position: -77px 0;
}
.header__topbar-social .inst {
				background-image: url("../../images/sprite-social.png");
				background-position: -118px 0;
}
.header__topbar-social .trash {
				background-image: url("../../images/sprite-social.png");
				background-position: -157px 0;
}
.header__nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 228px;
				width: inherit;
}
.header__nav-logo {
				width: 132px;
				height: 48px;
}
.header__nav-menu {
				width: 555px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
}
.header__nav-menu .menu-btn {
				display: block;
				color: white;
				text-transform: uppercase;
				transition: color 0.3s;
}
.header__nav-menu .menu-btn:hover {
				color: #e8be7b;
}
.header__title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
}
.header__title h1 {
				display: block;
				color: white;
				text-transform: capitalize;
				font-family: "Conv_Butler_Medium";
				font-size: 64px;
}
.header__title h1 span {
				color: #e8be7b;
}
.header__title p {
				padding-top: 16px;
				display: block;
				color: white;
				font-family: "Conv_Lato-Regular";
}
.header__title .title-buttons {
				padding-top: 47px;
}
.header__title .title-buttons .title-button {
				display: inline-block;
				width: 180px;
				padding: 18px 0;
				border: 1px solid white;
				border-radius: 2px;
				text-align: center;
				text-transform: uppercase;
				color: white;
				font-family: "Conv_Lato-Regular";
				font-size: 14px;
				transition: background-color 0.3s;
}
.header__title .title-buttons .title-button.about-info {
				margin-right: 15px;
}
.header__title .title-buttons .title-button.play-video {
				margin-left: 15px;
}
.header__title .title-buttons .title-button.play-video::before {
				content: "";
				display: inline-block;
				font-size: 0;
				padding-right: 5px;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 15px solid white;
}
.header__title .title-buttons .title-button:hover {
				background-color: #e8be7b;
}
.header .header__slider {
				position: absolute;
				z-index: -10;
}